header,footer{
    background-color:#2F3E46;
    color: white;
    font-size: 1.6em;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

.contrast{
    font-size: 0.95em;
    font-weight: 500;
}

body{
    min-height: 120vh;
    background-color: #E0E1DD;
    display: grid;
    grid-template-rows: auto 80px 1fr auto;
}

.buy-window {
    padding: 0 16px;
    margin: 0 auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 800px;
    box-shadow: 0px 2px 50px 0px rgb(28 33 47 / 5%);
}

.material-symbols-outlined {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.red {
    color: red;
    font-weight: 600;
}

.green {
    color: green;
    font-weight: 600;
}

.nowrap {
    white-space: nowrap;
}

.center {
    margin: 0 auto !important;
}

.text-center {
    text-align: center;
}

.submit {
    background-color: #02bd84;
    border: none;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 32px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

.submit:hover {
    opacity: 1
}

#calculate {
    background-color: #f4511e;
    padding: 16px 32px;
}


