header,footer{
    background-color:#2F3E46;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.6em;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.contrast{
    font-size: 0.9em;
}



body{
    min-height: 120vh;
    background-color: #E0E1DD;
    display: grid;
    grid-template-rows: auto 80px 1fr auto;
}