@font-face {
    font-family: Jost;
    src: url(/static/fonts/Jost-Regular.ttf);
}

header, footer{
    background-color: #282320;
    color: white;
    max-width: 100%;
    font-family: Jost !important;
}

header {
    height: 130px;
    text-align: left;
    font-size: 28px;
    background: url("/static/media/banner1.png") right no-repeat !important;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 80px;
    padding-top: 30px;
}

.h {
    font-family: Jost !important;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: justify;

}

.logo {
    width: 100px;
    margin: 14px auto;
    display: block;
}

.tittle {
    max-width: 100%;
    white-space: nowrap;
    padding-top: 44px;
}

.nav {
    background-color: #1B2832;
    height: 55px;
    max-width: 100%;
    color: white;
}

#boe p{
    font-size: 16px;
    text-align: justify;
}

#boe h7{
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
}

.errors {
    color: #B6244F;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    list-style: none !important;
}

.message {
    color: #B6244F;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.legal {
    text-align: justify;
    margin-top: 90px;
    margin-left: 15px;
}

#main {
    min-height: 120vh;
    background-color: #F2F2F2;
    display: grid;
    grid-template-rows: auto 120px 1fr auto;
    max-width: 100% !important;
    font-family: Jost !important;
}

.contrast {
    color:white;
    width: 200px;
}

.buy_window {
    padding: 30px 22px;
    margin: 0 auto;
    max-width: 700px;
    box-shadow: 0px 2px 50px 0px rgba(28, 33, 47, 0.137);
}

.material-symbols-outlined {
    position: relative;
    top: 5px;
    margin-right: 3px;
}

.red {
    color: red;
    font-weight: 600;
}

.green {
    color: #04AA6D;
    font-weight: 600;
}

.nowrap {
    white-space: nowrap;
}

.button {
    background-color: #282A35 !important;
    border: none !important;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 32px;
    margin: 0 auto;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    font-family: Jost !important;
}

.button.buy {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
}

.button:hover {
    opacity: 1;
    border: none;
}

.button.calculate {
    background: #5A9CE7 url("/static/media/calculate.svg") center no-repeat !important;
    border: none;
    padding: 15px 15px;
    margin: 0 auto;
    position: relative;
    top: 28px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 50px 0 rgba(0,0,0,0.19);
}

#menu {
    display: inline;
    height: 56.5px;
    background-color: #ca6f8c !important;
    white-space: nowrap;
}

#menu .button {
    background-color: #ca6f8c !important;
    width: auto;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0;
    opacity: 1;
    margin-right: -6px;
    text-decoration: none;
}

#menu .button:hover, #menu .button.active {
    background-color: #B6244F !important;
}

#red {
    position: relative;
    top: 3px;
    margin: 0 auto;
}

thead {
    background: #282A35;
    color: #FFF;
}

thead th {
    background: #282A35;
    color: #FFF;
    position: sticky;
    top: 0;
    font-size: 16px;
}

.tableScroll {
    max-height: 600px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.disclosures {
    color:white;
    text-decoration: underline;
}

.disclosures:hover {
    color: #8AB4F8;
}