<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <link rel="stylesheet" href="/static/css/pico-bootstrap-grid.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
</head>
<body>
    <div id="main" class="container">
        <header>
            <div class="row">
                <div class="col-2 col-md-3"><img class="logo" src="/static/media/logo.png"></div>
                <div class="col-10 col-md-9 tittle">{{title}}</div>
            </div>
        </header>

        <section id="menu">
            <div class="container">
                <a href="/" class="button contrast {% if isIndex %} active {% endif %}" {% if isIndex %} disabled = "true" {% endif %}><span class="material-symbols-outlined">home</span>&nbsp;Inicio</a>
                <a href="history" class="button contrast {% if isHistory %} active {% endif %}" {% if isHistory %} disabled = "true" {% endif %}><span class="material-symbols-outlined">library_add</span>&nbsp;Historial</a>
                <a href="/purchase" class="button contrast {% if isPurchase %} active {% endif %}" {% if isPurchase %} disabled = "true" {% endif %}><span class="material-symbols-outlined">currency_exchange</span>&nbsp;Compra | Venta</a>
                <a href="/balance" class="button contrast {% if isBalance %} active {% endif %}" {% if isBalance %} disabled = "true" {% endif %}><span class="material-symbols-outlined">account_balance_wallet</span>&nbsp;Saldo</a>
                <a href="/status" class="button contrast {% if isStatus %} active {% endif %}" {% if isStatus %} disabled = "true" {% endif %}><span class="material-symbols-outlined">savings</span>&nbsp;Estado</a>
            </div>
        </section>

        {% if ratelimit_remaining is not none and ratelimit_remaining != "" %} <!--Con esto muestro al usuario cuando gasta un llamada al api y las que le quedan-->
            <p class="ratelimit">Quedan&nbsp;{{ratelimit_remaining}}&nbsp;llamadas al Api</p>
        {% endif %}

        <section class = "container">
            {% block section %}
            {% endblock %}
        </section>
        <footer>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7">&copy; 2023 Patricia Gutiérrez Rivas. All rights reserved.</div>
                <div class="col-1"><a href="https://github.com/patriciagr89/classic_project" target="_blank" title="Github"><img src="/static/media/github.svg" width="24px"></a><a href="https://www.linkedin.com/in/patricia-gutiérrez-rivas-312988250" target="_blank" title="Linkedin"><img src="/static/media/linkedin.svg" width="24px"></a></div>
                <div class="col-2"><a class="disclosures" href="/disclosures">Menciones legales</a></div>
            </div>
        </footer>
    </div>
</body>
</html>