<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/pico.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header>
        <div class = "container">
            {{title}}
        </div>
    </header>
    <nav class = "container">
        <ul>
            <li><a href="/" role="button" class="contrast" {% if isIndex %} disabled = "true" {% endif %}>Inicio</a></li>
            <li><a href="/purchase" role="button" class="contrast" {% if isPurchase %} disabled = "true" {% endif %}>Compra</a></li>
            <li><a href="/status" role="button" class="contrast" {% if isStatus %} disabled = "true" {% endif %}>Estado</a></li>
        </ul>
    </nav>

    <section class = "container">
        {% block section %}
        {% endblock %} 
    </section>
    
    <footer>
        <div class="container">
            &copy; 2023  Patricia Gutiérrez Rivas. Todos los derechos reservados.
        </div>
    </footer>
</body>
</html>