{% extends "base.html" %}

{% block section %}

<section id="boe">
    <h6>Es importante leer y comprender los riesgos de invertir en criptoactivos, que se explican en detalle a continuación: </h6>

    <h7>Producto de inversión de alto riesgo</h7>
    <p></p>
    <p>
        1. El valor de las inversiones y el rendimiento obtenido de las mismas puede
        experimentar significativas variaciones al alza y a la baja, pudiendo perderse la totalidad
        del importe invertido.p
    </p>
    <p>
        2. Las inversiones en proyectos en etapas tempranas suponen un alto nivel de
        riesgo, por lo que resulta necesario entender adecuadamente su modelo de negocio.
    </p>
    <p>
        3. Los criptoactivos del ámbito de esta Circular no están cubiertos por mecanismos
        de protección al cliente como el Fondo de Garantía de Depósitos o el Fondo de Garantía
        de Inversores.
    </p>
    <p>
        4. Los precios de los criptoactivos se constituyen en ausencia de mecanismos que
        aseguren su correcta formación, como los presentes en los mercados regulados de
        valores.
    </p>
    <p>
        5. Muchos criptoactivos pueden verse carentes de la liquidez necesaria para poder
        deshacer una inversión sin sufrir pérdidas significativas, dado que su circulación entre
        inversores, tanto minoristas como profesionales, puede ser muy limitada.
    </p>
    
    <h7>Riesgos propios de la tecnología</h7>
    <p></p>
    <p>
        6. Las tecnologías de registros distribuidos se encuentran todavía en un estadio
        temprano de maduración, habiendo sido muchas de estas redes creadas recientemente,
        por lo que pueden no estar suficientemente probadas y existir fallos significativos en su
        funcionamiento y seguridad.
    </p>
    <p>
        7. El registro de las transacciones en las redes basadas en tecnologías de registros
        distribuidos funciona a través de protocolos de consenso que pueden ser susceptibles a
        ataques que intenten modificar dicho registro y, en caso de tener éxito estos ataques, no
        existiría un registro alternativo que respalde dichas transacciones ni por tanto a los
        saldos correspondientes a las claves públicas, pudiéndose perder la totalidad de los
        criptoactivos.
    </p>
    <p>
        8. Las facilidades de anonimato que pueden aportar los criptoactivos los convierten
        en un objetivo para los ciberdelincuentes, ya que en el caso de robar credenciales o
        claves privadas pueden transferir los criptoactivos a direcciones que dificulten o impidan
        su recuperación.
    </p>
    <p>
        9. La custodia de los criptoactivos supone una responsabilidad muy relevante ya
        que pueden perderse en su totalidad en el caso de robo o pérdida de las claves privadas.
        Se identificará la entidad que realiza la custodia de los criptoactivos publicitados, el país
        en el que la realiza y el marco jurídico aplicable.
    </p>
    
    <h7>Riesgos legales</h7>
    <p></p>
    <p>
        10. La aceptación de los criptoactivos como medio de cambio es aún muy limitada y
        no existe obligación legal de aceptarlos.
    </p>
    <p>
        11. Cuando el proveedor de servicios no se encuentra localizado en un país de la
        Unión Europea la resolución de cualquier conflicto podría resultar costosa y quedar fuera
        del ámbito de competencia de las autoridades españolas.
    </p>
    <p>
        12. Cuando el inversor no disponga de los criptoactivos, estando en monederos
        digitales («wallets») del proveedor de servicios, y sin acceso a las claves privadas de los
        mismos, se indicará esta situación y se describirán los derechos del inversor sobre estos
        criptoactivos
    </p>

</section>

<h8><a href="https://www.boe.es/boe/dias/2022/01/17/pdfs/BOE-A-2022-666.pdf">Disposición 666 del BOE Núm.14 de 2022</a></h8>


{% endblock %}