{% extends "base.html" %}

{% block section %}

<div class="h2">Iniciate en el mundo cripto con Tradue</div>
<br>
<div class="row">
    <img class="col-md-6" src="/static/media/Wallet.svg">
    <div class="col-md-5 legal h">Con Tradue compra y vende criptomonedas facilmente y en pocos pasos.<br>
    <p>Controla tus operaciones y el estado financiero de tus perdidas y ganancias actualizados en cada momento. Intercambia criptomedas de todo tipo y haz crecer tus beneficios poco a poco. Invierte con confianza y con la tranquilidad de que tu información personal nunca será revelada sin tu permiso.</p></div>
</div>
<br>
<br>
<div class="center">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3 text-center bold">Sencillez</div>
        <div class="col-1"></div>
        <div class="col-3 text-center bold">Protección</div>
        <div class="col-1"></div>
        <div class="col-3 text-center bold">Diferentes métodos de pago</div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <img class="col-3" src="/static/media/bitcoin.svg">
        <div class="col-1"></div>
        <img class="col-3" src="/static/media/protection.svg">
        <div class="col-1"></div>
        <img class="col-3" src="/static/media/transactional.svg">
    </div>
    <br>
    <br>
    <p class="message text-center" style="font-size: 22px;"> No esperes más y comienza tu camino en el mundo cripto con nosotros</p>
</div>

{% endblock %}