{% extends "base.html" %}

{% block section %}

<div class="h2">Iniciese en el mundo cripto con Tradue</div>

<div class="row">
    <img class="col-md-6" src="/static/media/Wallet.svg">
    <div class="col-md-5 legal h">Con Tradue compre y venda criptomonedas facilmente y en pocos pasos.</p>
    <p>Controle sus operaciones y el estado financiero de sus perdidas y ganancias actualizados en cada momento. Intercambie criptos entre ellas de manera qué, al cambiar su valor relativo con tanta velocidad se incremente el número de criptomonedas de las que compramos, de
        forma que si vendemos cuando sean más caras y, además, tenemos más criptomonedas de las que compramos, aseguraremos la ganancia.</p></div>
</div>

{% endblock %}