{% extends "base.html" %}

{% block section %}

{% for message in get_flashed_messages() %}
    <div class="h2 message margin-bottom-default">
        <span class="material-symbols-outlined" style="font-size:40px">sentiment_very_dissatisfied</span>
        {{ message }}
    </div>
{% endfor %}

<div class="h">Opera en pocos pasos</div>
<p class="explain">Simplemente elige las monedas con las que deseas operar y la cantidad a invertir de las mismas.
  Asimismo, debes tener en cuenta el <a href="/balance" class="bold">saldo</a> del que dispones de cada una de tus monedas ya que tu operación estará limitada al mismo: </p>

<section class="purchase">
  <form action = "/purchase" method = "post" name="post">

    {{ form.csrf_token }}

    <div class="buy_window row">

      <div class="form-goup col-6">
          {{ form.coin_from.label }}
          {{ form.coin_from(class="form-control", value=list_request.coin_from) }}
          {% for error in form.coin_from.errors %}
            <li class="errors">{{ error }}</li>
          {% endfor %}
      </div>

      <div class="form-goup col-6">
        {{ form.coin_to.label }}
        {{ form.coin_to(class="form-control", value=list_request.coin_to) }}
        {% for error in form.coin_to.errors %}
          <li class="errors">{{ error }}</li>
        {% endfor %}
      </div>

      <div class="form-goup col-5">
        {{ form.quantity_from.label }}
        {{ form.quantity_from(class="form-control", value=list_request.quantity_from) }}
        {% for error in form.quantity_from.errors %}
          <li class="errors">{{ error }}</li>
        {% endfor %}
      </div>
      
      <div class="col-2">
        {{ form.calculate.label }}
        {{ form.calculate(class="button calculate", title="Calcular")}}
      </div>
      
      <div class="form-goup col-5">
        {{ form.quantity_to.label }}
        {{ form.quantity_to(class="form-control disabled", value=list_request.quantity_to, readonly=true) }}
        {% for error in form.quantity_to.errors %}
          <li class="errors">{{ error }}</li>
        {% endfor %}
      </div>

      <div class="col-6"><img src="/static/media/Project.svg"></div>
      <div class="col-1"></div>
      <div class="form-goup col-5">
        {{ form.value_unit.label }}
        {{ form.value_unit(class="form-control disabled", value=list_request.value_unit, readonly=true) }}
        {% for error in form.value_unit.errors %}
          <li class="errors">{{ error }}</li>
        {% endfor %}
      </div>

      <div class="col-12">
        {{ form.buy(class="button buy") }}
      </div>

      <div class="form-goup col-5"> <!--Con esto compruebo que los campos coin_to y coin_from no se han modificado antes de pulsar buy-->
        {{ form.coin_from_validator(class="form-control", value=list_request.coin_from, type="hidden", readonly=true) }}
        {{ form.coin_to_validator(class="form-control", value=list_request.coin_to, type="hidden", readonly=true) }}
      </div>

    </div>
  </form>
</section>

{% endblock %}
