{% extends "base.html" %}

{% block section %}

<form action = "/purchase" method = "post" name="post">

  {{ form.csrf_token }}

  <div class="buy_window row">

    <div class="form-goup col-6">
        {{ form.coin_from.label }}
        {{ form.coin_from(class="form-control", value=list_request.coin_from) }}
    </div>

    <div class="form-goup col-6">
      {{ form.coin_to.label }}
      {{ form.coin_to(class="form-control", value=list_request.coin_to) }}
    </div>

    <div class="row">

      <div class="form-goup col-5">
        {{ form.quantity_from.label }}
        {{ form.quantity_from(class="form-control", value=list_request.quantity_from) }}
      </div>
      
      <div class="col-2">
        <button class="button calculate" type="submit" name="calculate"><span id="red" class="material-symbols-outlined">calculate</span></button>
      </div>
      
      <div class="form-goup col-5">
        {{ form.quantity_to.label }}
        {{ form.quantity_to(class="form-control", value=list_request.quantity_to, readonly=true) }}
      </div>

    </div>

    <div class="row">
      <div class="col-7"></div>

      <div class="form-goup col-5">
        {{ form.value_unit.label }}
        {{ form.value_unit(class="form-control", value=list_request.value_unit, readonly=true) }}
      </div>

    </div>

    <div class="col-12">
      <button class="button" type="submit" name="buy">Realizar transacción</button>
    </div>

  </div>

</form>

{% endblock %}