{% extends "base.html" %}

{% block section %}
<h1>Estado de la inversión</h1>
{% if movements is none or movements|length < 1 %}
    SIN MOVIMIENTOS.
{% else %}
        <table role="grid">
            <thead>
                <tr>
                    <th>Invertido</th>
                    <th>Recuperado</th>
                    <th>Valor compra</th>
                    <th>Valor actual</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>{{movements.invertido}}</td>
                    <td>{{movements.recuperado}}</td>
                    <td>{{movements.invertido - movements.recuperado}}</td>
                    <td>Pendiente</td>
                </tr>
            </tbody>
        </table>
{% endif %}
{% endblock %}