{% extends "base.html" %}

{% block section %}

{% if status is none %}
    SIN MOVIMIENTOS.
{% else %}
        <table role="grid" class="nowrap">
            <thead>
                <tr>
                    <th>Invertido</th>
                    <th>Recuperado</th>
                    <th>Valor compra</th>
                    <th>Valor actual</th>
                    <th>Resultado de la inversión</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{status.invertido|round(6)}}</td>
                    <td>{{status.recuperado|round(6)}}</td>
                    <td>{{status.invertido - status.recuperado}}</td>
                    <td>{{value|round(6)}}</td>
                    <td class="{% if (value - (status.invertido - status.recuperado)) < 0 %} red {% else %} green {% endif %}">{{(value - (status.invertido - status.recuperado))|round(6)}}</td>
                </tr>
            </tbody>
        </table>
{% endif %}
{% endblock %}