{% extends "base.html" %}

{% block section %}
<h1>Estado de la inversión</h1>

        <table role="grid">
            <thead>
                <tr>
                    <th>Invertido</th>
                    <th>Recuperado</th>
                    <th>Valor compra</th>
                    <th>Valor actual</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>{{data.invertido}}</td>
                    <td>{{data.recuperado}}</td>
                    <td>{{data.invertido - data.recuperado}}</td>
                    <td>Pendiente</td>
                </tr>
            </tbody>
        </table>
{% endblock %}